h1, h2, h3{
    text-align: center;
    color: blue;
}
img{
    border-radius: 150px;
}

body{
    background-color: black;
    color: white;
}
.long-history-about-baba-einstein {
    color: blue;
    line-height: 160%;
}

li {
    line-height: 160%;
}

strong, b {
    color: blue;
}
